.form-control {
	background-color: rgba($color: white, $alpha: 0.1);
	border: 1px solid rgba($color: white, $alpha: 0.1);
	color: white;
	border-radius: 10px;
	padding: 0.75rem;

	&:focus {
		color: white;
		background-color: rgba($color: white, $alpha: 0.1);
		border: 1px solid rgba($color: white, $alpha: 0.1);
	}

	&::placeholder {
		color: rgba($color: white, $alpha: 0.5);
	}
}
