.main-section {
	position: relative;

	&::before {
		content: "";
		z-index: 3;
		width: 100%;
		height: 60px;
		top: -30px;
		position: absolute;
		left: 0;
		background-image: url("/assets/images/wave-1.svg");
		background-size: 100%;
		background-repeat: no-repeat;
	}
}
